<ion-view title="{{viewTitle}}">
    <ion-nav-buttons side="left">
        <a ng-click="goBack()" class="button button-clear icon fa fa-arrow-circle-left pull-left fa-2x zeliftColor" href="#"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a ng-if="connected === true" class="button button-clear icon ion-android-more-vertical" ng-click="popover.show($event)"></a>
    </ion-nav-buttons>
    <ion-content class="has-header padding">
        <form name="form" ng-submit="doOffreIn(form)">
            <div ng-if="showQuantity">
                <h3>{{offreinform.quantity.label}}</h3>
                <div class="row">
                    <select name="quantity" ng-model="dataOffreinform.quantity" ng-if="offreinform.quantity.type == 'min_max'">
                        <option ng-repeat="v in offreinform.min_max_values" value="{{v.id}}">{{v.value}}</option>
                    </select>
                    <select name="quantity" ng-model="dataOffreinform.quantity" ng-if="offreinform.quantity.type == 'multiple'">
                        <option ng-repeat="v in offreinform.multiple_values" value="{{v.id}}">{{v.value}}</option>
                    </select>
                    <input type="number" ng-min="offreinform.quantity.min" ng-max="offreinform.quantity.max" name="quantity" ng-model="dataOffreinform.quantity" ng-if="offreinform.quantity.type == 'int'" />
                </div>
            </div>
            <div ng-if="offreinform.is_calendar == 1">
                <h3>&Agrave; quel moment ?</h3>
                <div class="row">
                    <div class="col">Date</div>
                    <div class="col">Heure</div>
                </div>
                <div class="row">
                    <div class="col">
                        <input name="date" ng-model="dataOffreinform.date" type="date" min="{{offreinform.min_date}}" max="{{offreinform.max_date}}">
                    </div>
                    <div class="col">
                        <input class="zeliftColor" name="time" ng-model="dataOffreinform.time" min="00:00" max="23:59" type="time" step="900">
                    </div>
                </div>
            </div>
            <div ng-if="offreinform.at_home == 1">
                <h3>&Agrave; quelle adresse ?</h3>
            </div>
            <div ng-if="offreinform.language == 1">
                <h3>Souhaitez-vous que le prestataire parle une autre langue ?</h3>
                <select name="langue" ng-model="dataOffreinform.langue">
                    <option value="non" selected>Non</option>
                    <option ng-repeat="l in offreinform.languages" value="{{l}}">{{l}}</option>
                </select>
            </div>
            <button class="button button-full button-zelift" type="submit"><i class="fa fa-chevron-circle-right"></i> Trouver des prestataires <i class="fa fa-chevron-circle-left"></i></button>
        </form>
    </ion-content>
</ion-view>
