<ion-view title="{{viewTitle}}">
    <ion-nav-buttons side="right">
        <!-- <a ng-click="shareAnywhere()" class="button button-clear icon ion-android-share-alt fa-2x" href="#"></a> -->
        <a ng-if="connected === true" class="button button-clear icon ion-android-more-vertical" ng-click="popover.show($event)"></a>
    </ion-nav-buttons>
    <ion-content class="has-header padding">
        <form name="searchForm">
            <label class="item item-input">
                <span class="input-label"><i class="fa fa-search"></i></span>
                <input id="fieldSearch" type="search" ng-model="searchData.query" ng-change="getItemsSearch()">
            </label>
        </form>
        <ion-list>
            <a ng-if="item.id != 413" ng-href="{{getItemUrl(item)}}" class="item item-thumbnail-left item-text-wrap" ng-repeat="item in searchItems">
                <img ng-if="item.img.length > 0" src="{{serverUrl}}{{item.img}}" />
                <img ng-if="!item.img" src="{{serverUrl}}/img/services/default.png" />
                {{item.name}}
                <i class="fa fa-arrow-circle-right pull-right fa-2x zeliftColor" ng-if="item.is_item != 1"></i>
            </a>
        </ion-list>
    </ion-content>
</ion-view>
