<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>ZeLift</title>

        <!-- Stylesheets -->
        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="lib/fontawesome/css/font-awesome.css" rel="stylesheet">
        <!-- <link href="lib/wijmo/styles/wijmo.min.css" rel="stylesheet" /> -->
        <link href="css/style.css" rel="stylesheet">
        <link href="css/md.css" rel="stylesheet">
        <!-- <link href="//www.zelift.com/assets/appli/css/main.css" rel="stylesheet"> -->

        <script src="lib/requirejs/require.js"></script>
        <script src="lib/jQuery/dist/jquery.js"></script>
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="lib/ngCordova/dist/ng-cordova.js"></script>
        <script src="cordova.js"></script>

<!--         <script src="lib/ion-autocomplete/dist/ion-autocomplete.js"></script>
        <link href="lib/ion-autocomplete/dist/ion-autocomplete.css" rel="stylesheet"> -->

        <!-- Wijmo -->
<!--         <script src="lib/wijmo/controls/wijmo.min.js"></script>
        <script src="lib/wijmo/controls/wijmo.input.min.js"></script>
        <script src="lib/wijmo/controls/wijmo.grid.min.js"></script>
        <script src="lib/wijmo/controls/wijmo.chart.min.js"></script>
        <script src="lib/wijmo/controls/wijmo.gauge.min.js"></script>
        <script src="lib/wijmo/interop/angular/wijmo.angular.min.js"></script> -->

        <!-- Application Scripts -->
        <script>
            var myApp = {};
        </script>
        <script src="js/configuration.js"></script>
        <script src="js/app.js"></script>
        <script src="js/lib/memo.js"></script>
        <script src="js/lib/fs.js"></script>
        <script src="js/lib/openfb.js"></script>
        <script src="js/lib/utils.js"></script>
        <script src="js/lib/store.js"></script>
        <script src="js/lib/cache.js"></script>
        <script src="js/app.routes.js"></script>
        <script src="js/controllers/sidemenu.js"></script>
        <script src="js/controllers/home.js"></script>
        <script src="js/controllers/search.js"></script>
        <script src="js/controllers/map.js"></script>
        <script src="js/controllers/services.js"></script>
        <script src="js/controllers/children.js"></script>
        <script src="js/controllers/offrein.js"></script>
        <script src="js/controllers/myoffers.js"></script>
        <script src="js/controllers/offreout.js"></script>
        <script src="js/controllers/about.js"></script>
        <script src="js/controllers/account.js"></script>
        <script src="js/controllers/myzelift.js"></script>
        <script src="js/controllers/settings.js"></script>
        <script src="js/controllers/localize.js"></script>

        <!-- google maps javascript -->
        <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true"></script>
        <script type="text/javascript" src="//www.google.com/jsapi"></script>
    </head>
    <body ng-app="zelift">
        <script type="text/javascript" charset="utf-8">
            document.addEventListener("deviceready", onDeviceReady, false);

            function onDeviceReady()
            {
            }
        </script>
        <!-- <ion-nav-view id="mainView" animation="slide-left-right"></ion-nav-view> -->

        <div class="drawer">
            <ion-list>
                <ion-item class="item item-icon-left" href="#/zelift/home" menu-close>
                    <i class="icon fa fa-home fa-ionicon zeliftColor"></i>
                    Accueil
                </ion-item>
                <ion-item class="item item-icon-left" href="#/zelift/search" menu-close>
                    <i class="icon ion-ios-search fa-ionicon zeliftColor"></i>
                    Rechercher un service
                </ion-item>
                <ion-item class="item item-icon-left" href="#/zelift/services" menu-close>
                    <i class="icon ion-eye fa-ionicon zeliftColor"></i>
                    Parcourir les services
                </ion-item>
                <ion-item class="item item-icon-left" ng-if="connected === true" href="#/zelift/account" menu-close>
                    <i class="icon ion-android-person fa-ionicon zeliftColor"></i>
                    Mon compte
                </ion-item>
                <ion-item class="item item-icon-left" ng-if="connected === false" ng-click="signup()" menu-close>
                    <i class="icon fa fa-plus fa-ionicon zeliftColor"></i>
                    S'inscrire
                </ion-item>
                <ion-item class="item item-icon-left" ng-if="connected === true" href="#/zelift/myoffers" menu-close>
                    <i class="icon ion-ios-cart fa-ionicon zeliftColor"></i>
                    Mes commandes
                </ion-item>
                <ion-item class="item item-icon-left" ng-if="connected === true" href="#/zelift/settings" menu-close>
                    <i class="icon fa fa-cogs fa-ionicon zeliftColor"></i>
                    Paramètres
                </ion-item>
                <ion-item class="item item-icon-left" href="#/zelift/map" menu-close>
                    <i class="icon fa fa-globe fa-ionicon zeliftColor"></i>
                    Carte
                </ion-item>
                <ion-item class="item item-icon-left" href="#/zelift/about" menu-close>
                    <i class="icon ion-help-circled fa-ionicon zeliftColor"></i>
                    &Agrave; propos
                </ion-item>
            </ion-list>
        </div>
        <div id="appContent">
            <ion-nav-bar id="appBar" class="bar-zelift" animation="nav-title-slide-ios7" back-button-type="button-icon" back-button-icon="ion-arrow-left-c"></ion-nav-bar>
            <ion-nav-view></ion-nav-view>
        </div>
    </body>
</html>

